# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Data
data/

# AI Models (Downloaded and Generated locally)
yolov8n.pt
yolov8n_openvino_model/
yolov8n-face.pt
yolov8n-face_openvino_model/